<a href="https://colab.research.google.com/github/nbrrawal/xrd_Analysis/blob/main/Sample_Upload_code_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
test=pd.read_csv('/content/drive/MyDrive/Data_sample/2015.csv')

In [ ]:
test.Country.head(2)

0    Switzerland
1        Iceland
Name: Country, dtype: object

In [ ]:
test.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]